body {
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 80px); /* Asume que el header tiene 60px de altura */
}

/* El resto de tu código CSS */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 230px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* Sombra más oscura y difusa */
    transition: all 0.3s ease;
}




.title {
    margin-bottom: 20px;
    font-size: 2em; /* Tamaño de fuente más grande para resaltar el texto principal */
    text-align: center;
    color: #333;
}

#language-select {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    color: #333;
    font-size: 1.1em;
    text-align: center; /* Centra el texto de las opciones */
    transition: background-color 0.3s ease;
}

#language-select:focus {
    background-color: #f5f5f5;
}

#back-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #0056b3;
}


.header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center; /* Alinea los elementos hijos horizontalmente al centro */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
}

.logo {
    width: 100px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 10px;
    }

    .logo {
        width: 50px;
    }
}
